# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
dist/
build/

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# =========================
# AWS
# =========================
.aws/
.aws-sam/
cdk.out/

# Environment variables
.env
.env.*

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Terraform (optional)
# =========================
.terraform/
*.tfstate
*.tfstate.*
